.editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
}
.title {
  outline: 0;
  display: flex;
  justify-content: center;
}
.editable {
  flex: auto;
  border-radius: 4px;
  padding: 0 10px;
  overflow: auto;
}
.editable:focus {
  outline: rgb(119, 119, 119) 1px solid;
}

.code-line {
  background: white;
  color: black;
  margin: 0 5px;
}
