.author {
  white-space: nowrap;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 30px;
  position: sticky;
  z-index: 6;
  padding-left: 38px;
  transition: all 0.3s ease-out, width none;
  top: 0;
  backdrop-filter: blur(3px) brightness(60%);
  color: #acacac;
  div {
    transition: all 0.2s linear;
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    transition: all 0.2s linear;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
}

.logo {
  padding-left: 8px;
}

@media only screen and (max-width: 670px) {
  .detail-hidden {
    opacity: 0;
    width: 0 !important;
  }
}

.detail {
  width: 348px;
  margin-left: 40px;
  word-wrap: break-word;
  overflow: hidden;
}

.dashboard {
  // flex: auto;
  // overflow: hidden;
  // display: flex;
  // flex-wrap: wrap;
  // column-gap: 3vw;
  // align-items: center;
  // flex-shrink: 1;
  // flex-grow: 1;
  // flex-basis: 20vw;
  // row-gap: 0.5vw;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  /* column-gap: 3vw; */
  align-items: center;
  flex-shrink: 0;
  row-gap: 0.5vw;
  justify-content: space-between;
  div {
    width: 50%;
    flex-shrink: 0;
  }
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.login-text {
  position: absolute;
  color: #ffffffb4;
  text-shadow: 4px 1px 11px #000000;
  z-index: 1;
}

.loading {
  position: absolute;
  width: 48px;
  height: 48px;
  animation: satellite 9s infinite linear;
  border: 1px solid #000;
  border-radius: 100%;
}

.loading:before,
.loading:after {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 12px;
  height: 12px;
  content: "";
  border-radius: 100%;
  background-color: #0000008c;
  box-shadow: 0 0 10px #000;
}

.loading:after {
  right: 0;
  width: 20px;
  height: 20px;
  margin: 13px;
}

.loading-bigger {
  position: absolute;
  width: 120px;
  height: 120px;
  animation: satellite 9s infinite linear;
  border: 1px solid #000;
  border-radius: 100%;
}

.loading-bigger:before,
.loading-bigger:after {
  position: absolute;
  left: 22px;
  top: 1px;
  width: 15px;
  height: 15px;
  content: "";
  border-radius: 100%;
  background-color: #0000008c;
  box-shadow: 0 0 10px #000;
}

.loading-bigger:after {
  left: 7px;
  width: 50px;
  height: 50px;
  margin: 27px;
  top: 6px;
}

.rolling {
  position: absolute;
  width: 48px;
  height: 48px;
  animation: satellite 9s infinite linear;
  border: 1px solid #e6e3e3;
  border-radius: 100%;
}

.rolling:before {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 12px;
  height: 12px;
  content: "";
  border-radius: 100%;
  background-color: #e0dede8c;
  box-shadow: 0 0 10px #f8f6f6;
}

.rolling-bigger {
  position: absolute;
  width: 120px;
  height: 120px;
  animation: satellite 9s infinite linear;
  border: 1px solid #e6e3e3;
  border-radius: 100%;
}

.rolling-bigger:before {
  position: absolute;
  left: 22px;
  top: 1px;
  width: 15px;
  height: 15px;
  content: "";
  border-radius: 100%;
  background-color: #e0dede8c;
  box-shadow: 0 0 10px #f8f6f6;
}

@keyframes satellite {
  from {
    transform: rotate(0) translateZ(0);
  }

  to {
    transform: rotate(360deg) translateZ(0);
  }
}
