.author {
  white-space: nowrap;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 20px;
  position: relative;
  z-index: 3;
  padding-top: 28px;
  img {
    border-radius: 50%;
  }
}
.detail {
  width: 250px;
  word-wrap: break-word;
  overflow: hidden;
}
