.horizontalBox {
  width: calc(100vw - 150px);
  position: absolute;
  left: 50px;
  overflow-x: auto;
  padding: 0 20px;
  top: 22vh;
  .scrollbox {
    display: flex;
    gap: 20px;
  }
}
::-webkit-scrollbar {
  display: none;
}
