/* This CSS is common to all pages */

html { height: 100vh; }

body {
  margin: 0;
  height: 100%; 
  font-family: sans-serif;
  --custom-background: #0b0b2a;

  background: var(--custom-background);
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.navitem {
  padding: 3px 10px;
  color: rgba(255, 255, 255, 0.644);
  width: 100%;
  text-align: center;
  backdrop-filter: blur(3px) brightness(86%);
}
.navitem.is-active {
  background-color: #eeeeee81;
}
/* 1040 px 最小显示导航栏的宽度 */
/* 1440 px 最小显示tags 和评论的宽度 */