.accordion {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.collapse {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.1s linear;
}
.collapse-box {
  transition: all 0.1s linear;
  max-height: 100%;
  transform: translateZ(0); 
}
